<!-- petition это собственно петиция должна быть, которой посвящена страница -->
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
Система збору підписів - {{ petition.pet_name }}
</title>
<!--bootstrap CSS-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<a class="navbar-brand" href="index.html">Система збору підписів</a>
{% if logged_in %}
Тут повинно бути Ваше ім’я (можливо навіть ава), взяте з соц. мережі
{% else %}
<ul class="nav navbar-toggler-right">
  <li class="nav-item">
    <a class="nav-link" href="#"><img src="images/facebook.svg"></a><!-- Пока ссылки в списке а там посмотрим -->
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><img src="images/github.svg"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><img src="images/google_plus.svg"></a>
  </li>
</ul>
{% endif %}
</nav>
<div class="row">
<aside class="col-md-2">
</aside>
<main class="col-md-8">
<h3>{{ petition.pet_name }}</h3>
<p>Хто може вплинути на вирішення проблеми: {{ petition.pet_influence}}</p>
<p>Опис проблеми: {{ petition.pet_description }}</p>
<p>Кількість підписів: {{ petition.pet_signs }}</p>
{% if logged_in %} <!-- по идее здесь должны быть еще условия - кнопки нет если это: петиция пользователя, собраны подписи, вышел срок годности, уже подписана -->
<button type="button" class="btn btn-primary">Підписати петицію</button><!-- при нажатии обязательное обновление страницы: добавляется 1 подпись, убирается кнопка -->
{% endif %}
</main>
<aside class="col-md-2">
</aside>
</div>
<footer class="fixed-bottom">
<span class="text-muted">Виконано студентами 3 курсу КІ (Шакун Владислав, Корольов Олексій, Красняков Богдан, Черній Олексій) | 2017</span>
</footer>
<!--bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>