body {
	overflow-x: hidden;
}

div .right-top {
	margin: 10px;
	margin-top: 50px;
}

div .total {
	display: inline-block;
	width: 90%;
	margin: 10px;
	font-size: 15px;
}

a  {
	color: #212121;
}

a:hover {
	color: black;
	text-decoration: none;
}

footer {
	margin: 10px 0;
	text-align: center;
}